<div class="container">
  <div class="navbar-header">
    <a href="{{ .Site.Params.corcelurl }}" class="pull-left">
      <img src="{{.Site.BaseURL}}/images/corcel-logo.png" class="logo" />
    </a>
    <a href="{{ .Site.Params.corcelurl }}" class="navbar-brand">{{ .Site.Title }}</a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse" id="navbar-main">
    <ul class="nav navbar-nav">
      {{ range .Site.Params.sitelinks }}
        <li><a href="{{.URL}}">{{.Label}}</a></li>
      {{ end }}
    </ul>
  </div>
</div>
